#movie-result {
  background: rgb(50, 168, 82);
  border: 5px solid skyblue;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(12, 159, 255);
  border: 5px solid forestgreen;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 6px;
  background-color: black;
}
